<% content_for :html_head do %>
  <script type="text/javascript" src="http://js.51hejia.com/js/2010/focusImg.js"></script>
<% end %>
<%= render :partial => 'shared/layouts/header' %>
<div class="b_width960 clearfix margin10 margin_top10">
  <div class="b_index_left f_l">
    <h3>知名品牌快搜</h3>
    <ul>
      <li><a href="#" target="_blank">卫 浴</a></li>
      <li><a href="#" target="_blank">地 板</a></li>
      <li><a href="#" target="_blank">油漆涂料</a></li>
      <li><a href="#" target="_blank">壁 纸</a></li>
      <li><a href="#" target="_blank">厨房/橱柜</a></li>
      <li><a href="#" target="_blank">厨 电</a></li>
      <li><a href="#" target="_blank">采 暖</a></li>
      <li><a href="#" target="_blank">中央空调</a></li>
      <li><a href="#" target="_blank">布艺/床上用品</a></li>
      <li><a href="#" target="_blank">家 电</a></li>
      <li><a href="#" target="_blank">水处理</a></li>
      <li><a href="#" target="_blank">家 具</a></li>
      <li><a href="#" target="_blank">瓷砖/马赛克</a></li>
      <li><a href="#" target="_blank">开关/照明</a></li>
      <li><a href="#" target="_blank">门 窗</a></li>
      <li><a href="#" target="_blank">入墙式衣柜</a></li>
    </ul>
  </div>
  <div class="b_index_center f_l">
    <h3>评测导购</h3>
    <div class="b_index_c_text clearfix">
      <div class="b_index_c_img f_l">
       <div class="focuspic"><div id="f_div"><div id="f_imgDiv"><a href="#" target="_blank"><img src="http://image.51hejia.com/files/hekea/case_img/20091124/img200911241259053405.jpg" alt="图片标题" width="314" height="260"  border="0" /></a>
<a href="#" target="_blank"><img src="http://image.51hejia.com/files/hekea/case_img/20091125/img200911251259126965.jpg" alt="图片标题" width="314" height="260"  border="0" /></a>
<a href="#" target="_blank"><img src="http://image.51hejia.com/files/hekea/case_img/20091124/img200911241259053405.jpg" alt="图片标题" width="314" height="260"  border="0" /></a>
</div>
  <div id="f_infoDiv">
          <!--数字按钮区域-->
          <div id="f_buttonDiv">
            <div class="bg"><a href="javascript:void(0)" class="" focusClass="on" normalClass="">1</a></div>
            <div class="bg"><a href="javascript:void(0)" class="" focusClass="on" normalClass="">2</a></div>
            <div class="bg"><a href="javascript:void(0)" class="" focusClass="on" normalClass="">3</a></div>
          </div>
        </div></div><div id="f_text"><label><a href="#" target="_blank">图片1标题</a></label>
<label><a href="#" target="_blank">图片2标题</a></label>
<label><a href="#" target="_blank">图片3标题</a></label>
</div><script>	
var a=new PicFocus("f_imgDiv","f_text","f_buttonDiv","4000");
a.init();
a.play();
</script></div>
       
      </div>
      <div class="b_index_c_p f_l">
        <h2><a href="#" target="_blank">韩国女孩的家居生活日记</a></h2>
        <p><a href="#" target="_blank">喜爱看韩剧的你，除了喜爱他们的服饰、发饰，对他们的家居一饰，对他们的家居一定也很感兴趣吧！喜爱看韩剧的你，除了喜爱他们的服饰、发饰，对他们的家居一饰喜爱看韩剧的你，对他们的家居一定也很感兴趣吧！，对他们的家居一定也很就来看看看一个韩国女生</a></p>
        <ul class="b_index_c_ul01">
          <li><a href="#" target="_blank">[评测] 大第九十看见教喜爱看韩剧的你除</a></li>
          <li><a href="#" target="_blank">[导购] 大第九十看见教喜爱看韩剧的你除</a></li>
        </ul>
        <ul class="b_index_c_ul02">
          <li><a href="#" target="_blank">疯抢！卡哇伊虎年靠垫2折特卖！</a></li>
          <li><a href="#" target="_blank">新春特卖！保健枕直降100元！</a></li>
          <li><a href="#" target="_blank">疯抢！卡哇伊虎年靠垫2折特卖！</a></li>
          <li><a href="#" target="_blank">新春特卖！保健枕直降100元！</a></li>
        </ul>
      </div>
    </div>
    <div class="b_index_c_text02 clearfix">
      <div class="b_index_c_text02_l f_l">
        <h3>
          <label class="f_r"><a href="#" target="_blank">>>更多</a></label>
          最新消息</h3>
        <ul>
          <li><span>2010.1.21</span><a href="#" target="_blank">[促销] 阁楼露台小复式70平米家也能田园</a></li>
          <li><span>2010.1.21</span><a href="#" target="_blank">[促销] 阁楼露台小复式70平米家也能田园</a></li>
          <li><span>2010.1.21</span><a href="#" target="_blank">[促销] 阁楼露台小复式70平米家也能田园</a></li>
          <li><span>2010.1.21</span><a href="#" target="_blank">[促销] 阁楼露台小复式70平米家也能田园</a></li>
          <li><span>2010.1.21</span><a href="#" target="_blank">[促销] 阁楼露台小复式70平米家也能田园</a></li>
          <li><span>2010.1.21</span><a href="#" target="_blank">[促销] 阁楼露台小复式70平米家也能田园</a></li>
        </ul>
      </div>
      <div class="b_index_c_text02_r f_r">
        <ul>
          <li><img src="http://js.51hejia.com/img/images/brand/pic03.jpg" /></li>
          <li><img src="http://js.51hejia.com/img/images/brand/pic03.jpg" /></li>
        </ul>
      </div>
    </div>
    <h3>单品推荐</h3>
    <div class="b_index_c_text clearfix">
      <ul class="b_index_c_dp f_l">
        <li><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic04.jpg" /></a><a href="#" target="_blank">方太抽油烟机 CXW-169-EA01</a><span>推荐理由：</span>
          <p><a href="#" target="_blank">第三大家电生产商。1994年，西门子正式第三大家电生产商第三大家电生产商。1994西门子正式第三大家电生产商</a></p>
        </li>
        <li><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic04.jpg" /></a><a href="#" target="_blank">方太抽油烟机 CXW-169-EA01</a><span>推荐理由：</span>
          <p><a href="#" target="_blank">第三大家电生产商。1994年，西门子正式第三大家电生产商第三大家电生产商。1994年，子正式第三大家电生产商</a></p>
        </li>
        <li><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic04.jpg" /></a><a href="#" target="_blank">方太抽油烟机 CXW-169-EA01</a><span>推荐理由：</span>
          <p><a href="#" target="_blank">第三大家电生产商。1994年，西门子正式第三大家第三大家电生产商。1994年，西门子正式第三大生产商电生产商</a></p>
        </li>
      </ul>
    </div>
  </div>
  <div class="b_index_right f_r">
    <h3>重点品牌展示</h3>
    <div class="b_index_r_text">
      <ul class="b_index_r_ul01">
        <li><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic05.jpg" /></a><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic05.jpg" /></a><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic05.jpg" /></a><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic05.jpg" /></a><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic05.jpg" /></a><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic05.jpg" /></a></li>
        <li class="b_index_r_more"><a href="#" target="_blank">>>更多</a></li>
      </ul>
      <ul class="b_index_r_ul02">
        <li><a href="#" target="_blank">疯抢！卡哇伊虎年靠垫2折特卖！</a></li>
        <li><a href="#" target="_blank">新春特卖！保健枕直降100元！</a></li>
        <li><a href="#" target="_blank">疯抢！卡哇伊虎年靠垫2折特卖！</a></li>
        <li><a href="#" target="_blank">新春特卖！保健枕直降100元！</a></li>
      </ul>
    </div>
    <div class="b_ad03"><img src="http://js.51hejia.com/img/images/brand/ad04.jpg" /></div>
    <h3>热门品牌关键字</h3>
    <div class="b_index_r_text b_index_key"><a href="#" target="_blank">刷墙</a><a href="#" target="_blank">E71</a><a href="#" target="_blank">婴儿床</a><a href="#" target="_blank">MP4</a><a href="#" target="_blank">内装</a><a href="#" target="_blank">德国品牌</a><a href="#" target="_blank">地暖</a><a href="#" target="_blank">女人</a><a href="#" target="_blank">UGG</a><a href="#" target="_blank">马桶</a><a href="#" target="_blank">韩饰</a><a href="#" target="_blank">避暑</a><a href="#" target="_blank">四件套</a><a href="#" target="_blank">特产</a><a href="#" target="_blank">床上用品</a><a href="#" target="_blank">阿凡达</a><a href="#" target="_blank">美食</a><a href="#" target="_blank">小厨房</a></div>
  </div>
</div>
<%= render :partial => 'shared/layouts/footer' %>
