<div class="stags">
  <script>
function sf(){document.f.q.focus();}
window.gbar={};(function(){var g=window.gbar,j,k;function l(a){var d=window.encodeURIComponent&&(document.forms[0].q||"").value;if(d)a.href=a.href.replace(/([?&])q=[^&]*|$/,function(h,f){return(f||"&")+"q="+encodeURIComponent(d)})}g.qs=l;function m(a,d,h,f,b,c){var i=document.getElementById(a),e=i.style;if(i){e.left=f?"auto":d+"px";e.right=f?d+"px":"auto";e.top=h+"px";e.visibility=k?"hidden":"visible";if(b){e.width=b+"px";e.height=c+"px"}else{m(j,d,h,f,i.offsetWidth,i.offsetHeight);k=k?"":a}}}g.tg=function(a){a=a||window.event;var d=0,h,f=window.navExtra,b,c=a.target||a.srcElement;a.cancelBubble=true;if(c.className!="gb3")c=c.parentNode;if(!j){b=document.createElement(Array.every||window.createPopup?"iframe":"div");b.frameBorder="0";b.src="#";j=c.parentNode.appendChild(b).id="gbs";document.onclick=g.close}a=c.getAttribute("aria-owns")||"gbi";b=c.offsetWidth;var i=c.offsetTop>20?46:24,e;do d+=c.offsetLeft||-380;while(c=c.offsetParent);if(a=="gbi")for(b=document.getElementById(a);f&&(h=f.pop());)b.insertBefore(h,b.firstChild).className="gb2";else e=d=(document.documentElement.clientWidth||document.body.clientWidth)-d-b;k!=a&&g.close();m(a,d,i,e)};g.close=function(){k&&m(k,0,0)}})();
</script>
  <a href="http://tuku.51hejia.com/">看图片</a> | <a href="http://z.51hejia.com/">选装修</a> | <a href="http://p.51hejia.com/">找低价</a> | <a href="http://b.51hejia.com/">选品牌</a> | <a href="http://wb.51hejia.com/">问专家</a> | <nobr> <a href="http://www.51hejia.com/xinwen/" target="_blank">新闻</a> | <a href="http://d.51hejia.com/" target="_blank">装修</a> | <a href="http://www.51hejia.com/jushang/" target="_blank">居尚</a> | <a href="http://www.51hejia.com/jiajuchanpin/" target="_blank">家具</a> | <a href="http://www.51hejia.com/jiadian/" target="_blank">家电</a> | <a href="http://www.51hejia.com/keting/" target="_blank">客厅</a> | <a href="http://www.51hejia.com/woshi/" target="_blank">卧室</a> | <a href="http://www.51hejia.com/chufang/" target="_blank">厨房</a> | <a href="http://www.51hejia.com/xiaohuxing/" target="_blank">小户型</a> | <a href="http://bbs.51hejia.com/list/484" target="_blank" class="snl">论坛</a> | <a href="http://www.51hejia.com/youqituliao/" target="_blank">涂料</a> | <a href="http://www.51hejia.com/diban/" target="_blank">地板</a> | <a href="http://www.51hejia.com/cizhuan/" target="_blank">瓷砖</a> | <a onclick="this.blur();gbar.tg(event);return !1" class="snl more" style="cursor:pointer;"><u>更多</u><small>&#9660;</small></a>
  <div id=gbi> <a href="http://www.51hejia.com/buyi/" target="_blank" class="gb2">布艺</a> <a href="http://www.51hejia.com/zhaomingpindao/" target="_blank" class="gb2">灯具</a> <a href="http://www.51hejia.com/cainuan/" target="_blank" class="gb2 snl">采暖</a> <a href="http://www.51hejia.com/weiyu/" target="_blank" class="gb2">卫浴</a> <a href="http://www.51hejia.com/shufang/" target="_blank" class="gb2">书房</a> <a href="http://www.51hejia.com/huayuanshenghuo/" target="_blank" class="gb2 snl">花园</a> <a href="http://www.51hejia.com/gongyu/" target="_blank" class="gb2">公寓</a> <a href="http://www.51hejia.com/bieshu/" target="_blank" class="gb2">别墅</a> <a href="http://blog.51hejia.com/" target="_blank" class="gb2 snl">博客</a> <a href="http://www.51hejia.com/maichang/" target="_blank" class="gb2">卖场</a> <a href="http://www.51hejia.com/beijingqiang/" target="_blank" class="gb2">背景墙</a> <a href="http://www.51hejia.com/ertongfang/" target="_blank" class="gb2 snl">儿童房</a> <a href="http://www.51hejia.com/ershoufang/" target="_blank" class="gb2">二手房</a> <a href="http://www.51hejia.com/shuichuli/" target="_blank" class="gb2">水处理</a> <a href="http://www.51hejia.com/chuguipindao/" target="_blank" class="gb2 snl">厨房橱柜</a> <a href="http://www.51hejia.com/weiyupindao/" target="_blank" class="gb2">卫浴产品</a> <a href="http://www.51hejia.com/kongtiao/" target="_blank" class="gb2">中央空调</a> <a href="http://bbs.51hejia.com/list/426" target="_blank" class="gb2 snl">装修日记</a> <a href="http://d.51hejia.com/zq/" target="_blank" class="gb2">装修专区</a> <a href="http://deco.51hejia.com/zq/" target="_blank" class="gb2">装饰专区</a> <a href="http://b.51hejia.com/zq/" target="_blank" class="gb2 snl">品牌专区</a> <a href="http://prod.51hejia.com/zq/" target="_blank" class="gb2">产品专区</a> <a href="http://tuku.51hejia.com/zhuanqu/" target="_blank" class="gb2">图库专区</a> </div>
  </nobr> </div>
<div class="sfooter">
  <!--begin_footer_code-->
  <div>
    <table style="margin:0 auto;clear:both" cellSpacing=0 cellPadding=0 width="900"
         border=0>
      <TBODY>
        <tr>
          <td style="text-align:center;margin:0 auto"><SPAN class="sabout"><A href="http://www.51hejia.com/aboutus/about.html"
                 target=_blank>关于我们</A> | <A
              href="http://www.51hejia.com/aboutus/contactus.html"
              target=_blank>联系我们</A> | <A
              href="#top" onclick="Divopop('Login');return true;"
              >会员登陆</A> | <A
              href="http://www.51hejia.com/aboutus/priv.html"
              target=_blank>版权声明</A> | <A href="http://tag.51hejia.com/api/hejia_links"
                                        target=_blank>友情链接</A> | <A href="http://www.51hejia.com/siteindex/"
                                      target=_blank>网站地图</A></SPAN><BR>
            <div class="citypath1">
              <ul>
                <li class="title">区域城市家居装修指南：</li>
                <li><a href="http://shanghai.51hejia.com/">上海</a>&nbsp;|</li>
                <li><a href="http://suzhou.51hejia.com/">苏州</a>&nbsp;|</li>
                <li><a href="http://wuxi.51hejia.com/">无锡</a>&nbsp;|</li>
                <li><a href="http://ningbo.51hejia.com/">宁波</a>&nbsp;|</li>
                <li><a href="http://hangzhou.51hejia.com/">杭州</a>&nbsp;|</li>
              </ul>
              <div style="clear:both"></div>
            </div>
            <SPAN class=font_link_s2> <A href='http://www.51hejia.com/siteindex/' target='_blank'>全站索引</A> -> <A href='http://www.51hejia.com/siteindex/letter/A.html' target='_blank'>A</A> <A href='http://www.51hejia.com/siteindex/letter/B.html' target='_blank'>B</A> <A href='http://www.51hejia.com/siteindex/letter/C.html' target='_blank'>C</A> <A href='http://www.51hejia.com/siteindex/letter/D.html' target='_blank'>D</A> <A href='http://www.51hejia.com/siteindex/letter/E.html' target='_blank'>E</A> <A href='http://www.51hejia.com/siteindex/letter/F.html' target='_blank'>F</A> <A href='http://www.51hejia.com/siteindex/letter/G.html' target='_blank'>G</A> <A href='http://www.51hejia.com/siteindex/letter/H.html' target='_blank'>H</A> <A href='http://www.51hejia.com/siteindex/letter/I.html' target='_blank'>I</A> <A href='http://www.51hejia.com/siteindex/letter/J.html' target='_blank'>J</A> <A href='http://www.51hejia.com/siteindex/letter/K.html' target='_blank'>K</A> <A href='http://www.51hejia.com/siteindex/letter/L.html' target='_blank'>L</A> <A href='http://www.51hejia.com/siteindex/letter/M.html' target='_blank'>M</A> <A href='http://www.51hejia.com/siteindex/letter/N.html' target='_blank'>N</A> <A href='http://www.51hejia.com/siteindex/letter/O.html' target='_blank'>O</A> <A href='http://www.51hejia.com/siteindex/letter/P.html' target='_blank'>P</A> <A href='http://www.51hejia.com/siteindex/letter/Q.html' target='_blank'>Q</A> <A href='http://www.51hejia.com/siteindex/letter/R.html' target='_blank'>R</A> <A href='http://www.51hejia.com/siteindex/letter/S.html' target='_blank'>S</A> <A href='http://www.51hejia.com/siteindex/letter/T.html' target='_blank'>T</A> <A href='http://www.51hejia.com/siteindex/letter/U.html' target='_blank'>U</A> <A href='http://www.51hejia.com/siteindex/letter/V.html' target='_blank'>V</A> <A href='http://www.51hejia.com/siteindex/letter/W.html' target='_blank'>W</A> <A href='http://www.51hejia.com/siteindex/letter/X.html' target='_blank'>X</A> <A href='http://www.51hejia.com/siteindex/letter/Y.html' target='_blank'>Y</A> <A href='http://www.51hejia.com/siteindex/letter/Z.html' target='_blank'>Z</A> </SPAN> <BR>
            <SPAN class=font_link_s2>Copyright&copy;2005-2009 Hejia Net (shanghai) Information Technology Co. Ltd. All rights reserved <br />
            <a href="http://www.51hejia.com">和家网</a>(上海)信息技术有限公司 版权所有 <BR>
            违法及不良信息举报&nbsp;<A
              href="mailto:webmaster@51hejia.com">webmaster@51hejia.com</A>&nbsp;沪ICP备<A
              href="http://www.miibeian.gov.cn/"
          target=_blank>06009042</A>号</SPAN></TD>
        </tr>
      </TBODY>
    </table>
  </div>
  <!--end_footer_code-->
</div>
</body>
</html>
