<%= render :partial => 'shared/layouts/header' %>
<div>
  <ul class="bpl_menu clear">
    <li><a href="#" target="_blank"><strong>地板首页</strong></a></li>
    <li><a href="#" target="_blank"><strong>品牌专区</strong></a></li>
    <li><a href="#" target="_blank"><strong>精选单品</strong></a></li>
    <li><a href="#" target="_blank"><strong>地板资讯</strong></a></li>
  </ul>
</div>
<div class="b_width960 clearfix margin10 margin_top10">
<div class="bpl_left f_l">
  <div class="bpl_left f_l">
    <h3 class="blp_l_h3">地板品牌：<a href="#" target="_blank">方太</a><a href="#" target="_blank">方太</a><a href="#" target="_blank">方太</a><a href="#" target="_blank">方太</a><a href="#" target="_blank">方太</a><a href="#" target="_blank">方太</a><a href="#" target="_blank">方太</a><a href="#" target="_blank">方太</a><a href="#" target="_blank">方太</a><a href="#" target="_blank">方太</a></h3>
    <div class="bpl_l_text clearfix">
    <div class="bpl_l_img f_l"><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic02.jpg" alt="蜗居条纹换装术" /></a></div>
    <div class="bpl_l_tit f_l">
    <h2><a href="#" target="_blank">波普色彩演绎今季时尚温馨之家</a></h2>
    <p><a href="#" target="_blank">方太的吸油烟机挺有名的，价位大多在3000元以上，它的排烟效果在同类的产品中是比较好的，外观也比较时尚高档，相当吸引人。方太有一个系列的档，相当吸引人。方太，相当吸引人。方太有一个系列的产有一个系列的产品很有特色，一般的吸油烟机都是靠着墙安装</a></p>
    </div>
    <ul class="bpl_l_ul01 f_l">
    <li><span><a href="#" target="_blank">评测|方太</a></span><a href="#" target="_blank">魅力家饰新体验 黑白配色地毯个性张扬</a></li>
    <li><span><a href="#" target="_blank">评测|方太</a></span><a href="#" target="_blank">魅力家饰新体验 黑白配色地毯个性张扬</a></li>
    <li><span><a href="#" target="_blank">评测|方太</a></span><a href="#" target="_blank">魅力家饰新体验 黑白配色地毯个性张扬</a></li>
    <li><span><a href="#" target="_blank">评测|方太</a></span><a href="#" target="_blank">魅力家饰新体验 黑白配色地毯个性张扬</a></li>
    </ul>
    <dl class="bpl_l_ul02 f_l">
    <dt><strong>最新消息</strong></dt>
    <dd><span class="f_r">2009.01.02</span><span><a href="#" target="_blank">[方太]</a></span><a href="#" target="_blank">魅力家饰新体验 黑白配色地毯个性张扬</a></dd>
    <dd><span class="f_r">2009.01.02</span><span><a href="#" target="_blank">[方太]</a></span><a href="#" target="_blank">魅力家饰新体验 黑白配色地毯个性张扬</a></dd>
    </dl>
    </div>
  </div>
  <div class="bpl_left f_l">
  <SCRIPT src="http://js.51hejia.com/js/b_pic.js" type="text/javascript"></SCRIPT>
    <h3><a onmouseup="ISL_StopDown_1()" class="bpl_photo_but_r f_r" onmousedown="ISL_GoDown_1() " onmouseout="ISL_StopDown_1()" href="javascript:void(0);" target="_self"></a><a onmouseup=ISL_StopUp_1() onmousedown=ISL_GoUp_1() onmouseout=ISL_StopUp_1() href="javascript:void(0);" target="_self" class="bpl_photo_but_l f_r"></a>精选单品推荐</h3>
    <div class="bpl_l_text clearfix">
    <div id="ISL_Cont_1" class="bpl_photo_c_b f_l">
	<div class="bpl_photo_c2">
	  <div id="List1_1" class="f_l">
  <ul class="bpl_l_ul03">
    <li><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic04.jpg" alt="主要研发和生产厨房电器" /></a><a href="#" target="_blank">主要研发和生产厨房电器</a>
      <p><a href="#" target="_blank">新装的家里，墙面的装潢是最让人头疼的。四面白墙或者单一色彩都让人觉迪斯科机假大空时间技术得乏味</a></p>
    </li>
    <li><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic04.jpg" alt="主要研发和生产厨房电器" /></a><a href="#" target="_blank">主要研发和生产厨房电器</a>
      <p><a href="#" target="_blank">新装的家里，墙面的装潢是最让人头疼的。四面白墙或者单一色彩都让人觉迪斯科机假大空时间技术得乏味</a></p>
    </li>
    <li><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic04.jpg" alt="主要研发和生产厨房电器" /></a><a href="#" target="_blank">主要研发和生产厨房电器</a>
      <p><a href="#" target="_blank">新装的家里，墙面的装潢是最让人头疼的。四面白墙或者单一色彩都让人觉迪斯科机假大空时间技术得乏味</a></p>
    </li>
    <li><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic04.jpg" alt="主要研发和生产厨房电器" /></a><a href="#" target="_blank">主要研发和生产厨房电器</a>
      <p><a href="#" target="_blank">新装的家里，墙面的装潢是最让人头疼的。四面白墙或者单一色彩都让人觉迪斯科机假大空时间技术得乏味</a></p>
    </li>
    <li><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic04.jpg" alt="主要研发和生产厨房电器" /></a><a href="#" target="_blank">主要研发和生产厨房电器</a>
      <p><a href="#" target="_blank">新装的家里，墙面的装潢是最让人头疼的。四面白墙或者单一色彩都让人觉迪斯科机假大空时间技术得乏味</a></p>
    </li>
    <li><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic04.jpg" alt="主要研发和生产厨房电器" /></a><a href="#" target="_blank">主要研发和生产厨房电器</a>
      <p><a href="#" target="_blank">新装的家里，墙面的装潢是最让人头疼的。四面白墙或者单一色彩都让人觉迪斯科机假大空时间技术得乏味</a></p>
    </li>
    <li><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic04.jpg" alt="主要研发和生产厨房电器" /></a><a href="#" target="_blank">主要研发和生产厨房电器</a>
      <p><a href="#" target="_blank">新装的家里，墙面的装潢是最让人头疼的。四面白墙或者单一色彩都让人觉迪斯科机假大空时间技术得乏味</a></p>
    </li>
    <li><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic04.jpg" alt="主要研发和生产厨房电器" /></a><a href="#" target="_blank">主要研发和生产厨房电器</a>
      <p><a href="#" target="_blank">新装的家里，墙面的装潢是最让人头疼的。四面白墙或者单一色彩都让人觉迪斯科机假大空时间技术得乏味</a></p>
    </li>
    <li><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic04.jpg" alt="主要研发和生产厨房电器" /></a><a href="#" target="_blank">主要研发和生产厨房电器</a>
      <p><a href="#" target="_blank">新装的家里，墙面的装潢是最让人头疼的。四面白墙或者单一色彩都让人觉迪斯科机假大空时间技术得乏味</a></p>
    </li>
  </ul>
</div>
	  <div id="List2_1"></div>
       <script type="text/javascript">
picrun_ini()
</script>
	</div>
	</div>
    </div>
  </div>
  <div class="bpl_left f_l">
    <h3><span class="bpl_l_more f_r"><a href="#" target="_blank">>>更多</a></span>地板资讯</h3>
    <div class="bpl_l_text clearfix">
    <div class="bpl_l_t_left f_l">
    <div class="bpl_l_t_img"><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic10.jpg" alt="蜗居条纹换装术" /></a><a href="#" target="_blank"><strong>蜗居条纹换装术</strong></a><p><a href="#" target="_blank">出色的条纹设计，能简化空间的布置；打破沉闷，完成冬日驻足居室的美丽景象。日驻足居室的美丽景象。日驻足居室的美丽美丽景象</a></p></div>
    <dl class="bpl_l_t_hot">
    <dt><strong>热门专区</strong></dt>
    <dd><a href="#" target="_blank">阁楼露台小复式70平米家也</a></dd>
    <dd><a href="#" target="_blank">阁楼露台小复式70平米家也</a></dd>
    <dd><a href="#" target="_blank">阁楼露台小复式70平米家也</a></dd>
    <dd><a href="#" target="_blank">阁楼露台小复式70平米家也</a></dd>
    </dl>
    </div>
<div class="bpl_l_t_right f_l">
    <dl class="f_l">
    <dt><a href="#" target="_blank"><strong>姹紫嫣红橱柜 从此爱上厨房</strong></a></dt>
    <dd><span><strong><a href="#" target="_blank">资讯</a></strong></span>| <a href="#" target="_blank">冷调色系的强化地板冷静中透露出但</a></dd>
    <dd><span><strong><a href="#" target="_blank">资讯</a></strong></span>| <a href="#" target="_blank">冷调色系的强化地板冷静中透露出但</a></dd>
    <dd><span><strong><a href="#" target="_blank">资讯</a></strong></span>| <a href="#" target="_blank">冷调色系的强化地板冷静中透露出但</a></dd>
    <dd><span><strong><a href="#" target="_blank">资讯</a></strong></span>| <a href="#" target="_blank">冷调色系的强化地板冷静中透露出但</a></dd>
    <dd><span><strong><a href="#" target="_blank">资讯</a></strong></span>| <a href="#" target="_blank">冷调色系的强化地板冷静中透露出但</a></dd>
    </dl>
    <div class="bpl_l_t_r_img f_r"><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic11.jpg" alt="蜗居条纹换装术" /></a><a href="#" target="_blank">蜗居条纹换装术</a></div>
    </div>
    <div class="bpl_l_t_right f_l">
    <dl class="f_l">
    <dt><a href="#" target="_blank"><strong>姹紫嫣红橱柜 从此爱上厨房</strong></a></dt>
    <dd><span><strong><a href="#" target="_blank">资讯</a></strong></span>| <a href="#" target="_blank">冷调色系的强化地板冷静中透露出但</a></dd>
    <dd><span><strong><a href="#" target="_blank">资讯</a></strong></span>| <a href="#" target="_blank">冷调色系的强化地板冷静中透露出但</a></dd>
    <dd><span><strong><a href="#" target="_blank">资讯</a></strong></span>| <a href="#" target="_blank">冷调色系的强化地板冷静中透露出但</a></dd>
    <dd><span><strong><a href="#" target="_blank">资讯</a></strong></span>| <a href="#" target="_blank">冷调色系的强化地板冷静中透露出但</a></dd>
    <dd><span><strong><a href="#" target="_blank">资讯</a></strong></span>| <a href="#" target="_blank">冷调色系的强化地板冷静中透露出但</a></dd>
    </dl>
    <div class="bpl_l_t_r_img f_r"><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic11.jpg" alt="蜗居条纹换装术" /></a><a href="#" target="_blank">蜗居条纹换装术</a></div>
    </div>
    <div class="bpl_l_t_right f_l">
    <dl class="f_l">
    <dt><a href="#" target="_blank"><strong>姹紫嫣红橱柜 从此爱上厨房</strong></a></dt>
    <dd><span><strong><a href="#" target="_blank">资讯</a></strong></span>| <a href="#" target="_blank">冷调色系的强化地板冷静中透露出但</a></dd>
    <dd><span><strong><a href="#" target="_blank">资讯</a></strong></span>| <a href="#" target="_blank">冷调色系的强化地板冷静中透露出但</a></dd>
    <dd><span><strong><a href="#" target="_blank">资讯</a></strong></span>| <a href="#" target="_blank">冷调色系的强化地板冷静中透露出但</a></dd>
    <dd><span><strong><a href="#" target="_blank">资讯</a></strong></span>| <a href="#" target="_blank">冷调色系的强化地板冷静中透露出但</a></dd>
    <dd><span><strong><a href="#" target="_blank">资讯</a></strong></span>| <a href="#" target="_blank">冷调色系的强化地板冷静中透露出但</a></dd>
    </dl>
    <div class="bpl_l_t_r_img f_r"><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic11.jpg" alt="蜗居条纹换装术" /></a><a href="#" target="_blank">蜗居条纹换装术</a></div>
    </div>
    </div>
  </div>
  <div class="bpl_left f_l">
    <h3><span class="bpl_l_more f_r"><a href="#" target="_blank">>>更多</a></span>地板资讯</h3>
    <div class="bpl_l_text clearfix">
    <ul class="bpl_l_ul04">
    <li><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic12.jpg" /></a><a href="#" target="_blank">欧洲典型式整体厨房介绍</a></li>
    <li><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic12.jpg" /></a><a href="#" target="_blank">欧洲典型式整体厨房介绍</a></li>
    <li><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic12.jpg" /></a><a href="#" target="_blank">欧洲典型式整体厨房介绍</a></li>
    <li><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic12.jpg" /></a><a href="#" target="_blank">欧洲典型式整体厨房介绍</a></li>
    </ul>
    </div>
  </div>
  </div>
  <div class="bpl_right f_r">
  <h3>地板名牌推荐</h3>
  <div class="bpl_r_text">
      <ul class="b_index_r_ul01">
        <li><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic05.jpg" /></a><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic05.jpg" /></a><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic05.jpg" /></a><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic05.jpg" /></a><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic05.jpg" /></a></li>
      </ul>
    </div>
    <div class="b_ad04"><img src="http://js.51hejia.com/img/images/brand/ad04.jpg" /></div>
    <h3><span class="bp_left_tit_span f_r">关注度</span>地板品牌排行</h3>
    <div class="bpl_r_text">
      <ul class="bpl_r_ul01">
        <li><span>99999</span><a href="#" target="_blank">冷调色系的强化地板冷静</a></li>
        <li><span>99999</span><a href="#" target="_blank">冷调色系的强化地板冷静</a></li>
        <li><span>99999</span><a href="#" target="_blank">冷调色系的强化地板冷静</a></li>
        <li><span>99999</span><a href="#" target="_blank">冷调色系的强化地板冷静</a></li>
        <li><span>99999</span><a href="#" target="_blank">冷调色系的强化地板冷静</a></li>
        <li><span>99999</span><a href="#" target="_blank">冷调色系的强化地板冷静</a></li>
        <li><span>99999</span><a href="#" target="_blank">冷调色系的强化地板冷静</a></li>
        <li><span>99999</span><a href="#" target="_blank">冷调色系的强化地板冷静</a></li>
        <li><span>99999</span><a href="#" target="_blank">冷调色系的强化地板冷静</a></li>
        <li><span>99999</span><a href="#" target="_blank">冷调色系的强化地板冷静</a></li>
      </ul>
    </div>
    <h3>经销商促销</h3>
    <div class="bpl_r_text">
      <ul class="bpl_r_ul02">
        <li class="clearfix"><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic09.jpg" alt="蜗居条纹换装术" /></a><h5><a href="#" target="_blank">冷调色系的强化地板冷静冷调色系的强化地板冷静</a></h5><span>经销商：长城公长城公贸 [上海]</span><span>电话：58834561  58765743</span></li>
        <li class="clearfix"><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic09.jpg" alt="蜗居条纹换装术" /></a><h5><a href="#" target="_blank">冷调色系的强化地板冷静冷调色系的强化地板冷静</a></h5><span>经销商：长城公长公贸 [上海]</span><span>电话：58834561  58765743</span></li>
      </ul>
    </div>
    <h3>地板知识</h3>
    <div class="bpl_r_text">
     <h4><a href="#" target="_blank">演绎今季时尚温馨之家？</a></h4>
     <p class="bpl_r_p">方太的吸油烟机挺有名的，价位大多在3000元以上，它的排烟效果在同类的产品中是比</p>
      <ul class="bpl_r_ul03">
        <li><a href="#" target="_blank">[论坛] 阁楼露台小复式70平米家也</a></li>
        <li><a href="#" target="_blank">[论坛] 阁楼露台小复式70平米家也</a></li>
        <li><a href="#" target="_blank">[论坛] 阁楼露台小复式70平米家也</a></li>
        <li><a href="#" target="_blank">[论坛] 阁楼露台小复式70平米家也</a></li>
        <li><a href="#" target="_blank">[论坛] 阁楼露台小复式70平米家也</a></li>
      </ul>
    </div>
    <h3>地板术语</h3>
    <div class="bpl_r_text">
      <ul class="bpl_r_ul03">
        <li><a href="#" target="_blank">[论坛] 阁楼露台小复式70平米家也</a></li>
        <li><a href="#" target="_blank">[论坛] 阁楼露台小复式70平米家也</a></li>
        <li><a href="#" target="_blank">[论坛] 阁楼露台小复式70平米家也</a></li>
        <li><a href="#" target="_blank">[论坛] 阁楼露台小复式70平米家也</a></li>
        <li><a href="#" target="_blank">[论坛] 阁楼露台小复式70平米家也</a></li>
        <li><a href="#" target="_blank">[论坛] 阁楼露台小复式70平米家也</a></li>
        <li><a href="#" target="_blank">[论坛] 阁楼露台小复式70平米家也</a></li>
        <li><a href="#" target="_blank">[论坛] 阁楼露台小复式70平米家也</a></li>
        <li><a href="#" target="_blank">[论坛] 阁楼露台小复式70平米家也</a></li>
        <li><a href="#" target="_blank">[论坛] 阁楼露台小复式70平米家也</a></li>
      </ul>
    </div>
  </div>
</div>
<%= render :partial => 'shared/layouts/footer' %>
