<!-- 点评 -->
<div class="b_width680 f_l margin10">
  <h3 class="bp_left_tit">方太品牌点评</h3>
  <div class="bp_left_text01">
    <dl>
      <dt class="f_l"><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/ft_logo.jpg" alt="方太厨房电器" /></a></dt>
      <dd class="f_l"><div class="bp_text01_nr"><!--[if lte IE 6]><a href="#"><table><tr><td><![endif]-->方太于1996年创立于浙江宁波，主要研发和生产厨房电器，是厨电行业的一线品牌，它在高端市场的占有率达到了30%以上，产品普遍美观高档，但是也比较贵。方太的厨房电器包括有：吸油烟机、灶具、消毒柜、燃气热水器，以及嵌入式的烤箱、微波炉等等<p>方太于1996年创立于浙江宁波，主要研发和生产厨房电器，是厨电行业的一线品牌，它在高端市场的占有率达到了30%以上，产品普遍美观高档，但是也比较贵。方太的厨房电器包括有：吸油烟机、灶具、消毒柜、燃气热水器，以及嵌入式的烤箱、微波炉等等方太于1996年创立于浙江宁波，主要研发和生产厨房电器，是厨电行业的一线品牌，它在高端市场的占有率达到了30%以上，产品普遍美观高档，但是也比较贵。方太的厨房电器包括有：吸油烟机、灶具、消毒柜、燃气热水器，以及嵌入式的烤箱、微波炉等等</p><!--[if lte IE 6]></td></tr></table></a><![endif]--></div></dd>
    </dl>
    <div class="bp_left_zx clear">
      <script type="text/javascript" src="http://js.51hejia.com/js/b_xg.js"></script>
      <ul>
        <li><span><strong>方太最新咨询：</strong></span></li>
        <li>
          <div id="Scroll">
            <div id="ScrollMe" style="overflow: hidden; height: 27px; text-align:center;">
              <a href="#" target=_blank>瓮安涉案女孩系溺亡瓮安涉案女孩系溺亡瓮安涉案女孩系溺亡瓮安涉案女孩系溺亡</a>
              <a href="#" target=_blank>瓮安涉案女孩系溺亡瓮安涉案女孩系溺亡瓮安涉案女孩系溺亡瓮安涉案女孩系溺亡</a>
              <a href="#" target=_blank>瓮安涉案女孩系溺亡瓮安涉案女孩系溺亡瓮安涉案女孩系溺亡瓮安涉案女孩系溺亡</a>
            </div>
          </div>
          <script type="text/javascript">new srcMarquee("ScrollMe",0,1,515,27,30,3000,3000,38)</script>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- 热点 -->
<div class="b_width680 f_l margin10">
  <div class="bp_zx_left f_l">
    <h3 class=" bp_left_tit02">方太厨房电器每月热点</h3>
    <div class="bp_left_text02 clearfix">
      <h4><a href="#" target="_blank">让你的厨房一气的厨房一气呵成呵成一气呵呵</a></h4>
      <div class="bp_left_text02_img f_l"><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic06.jpg" alt="让你的厨房一气的厨房一气呵成呵成一气呵呵" /></a></div>
      <p class="f_l"><a href="#" target="_blank">方太于1996年创立于浙江宁波，主要研发和生产厨房电器，是厨电行业的一线品牌，它在高端市场的占有率达到了30%以上，产品普遍美观高档，但是也比较贵。方太的厨房电器包括有：吸油烟机、灶具、消毒柜、燃气热水器，以及嵌入式的灶具、消毒柜、燃气热水器，以及嵌入式的烤箱、微波灶具、消毒柜、燃气热水器，以及嵌入式的烤</a></p>
      <div class="clear"></div>
    </div>
  </div>
  <!-- 评测/导购 -->
  <div class="bp_zx_right f_r">
    <h3 class=" bp_left_tit03">方太厨房电器评测/导购</h3>
    <div class="bp_left_text03">
      <ul>
        <li><a href="#" target="_blank">平米两居室独居美女家平米两居室两居</a></li>
        <li><a href="#" target="_blank">平米两居室独居美女家平米两居室两居</a></li>
        <li><a href="#" target="_blank">平米两居室独居美女家平米两居室两居</a></li>
        <li><a href="#" target="_blank">平米两居室独居美女家平米两居室两居</a></li>
        <li><a href="#" target="_blank">平米两居室独居美女家平米两居室两居</a></li>
        <li><a href="#" target="_blank">平米两居室独居美女家平米两居室两居</a></li>
        <li class="bp_left_text03_more"><a href="#" target="_blank">>>更多</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- 组合案例 -->
<div class="b_width680 f_l margin10">
  <h3 class="bp_left_tit">方太组合案例</h3>
  <div class="bp_left_text04 clearfix">
    <div class="bp_left_text04_img f_l"><img src="http://js.51hejia.com/img/images/brand/pic07.jpg" /></div>
    <h4 class="f_l">技术亮点</h4>
    <div class="bp_text04_nr f_l">
      <!--[if lte IE 6]><a href="#"><table><tr><td><![endif]-->
            方太于1996年创立于浙江宁波，主要研发和生产厨房电器，是厨电行业的一线品牌，它在高端市场的占有率达到了30%以上，产品普遍美观高档，但是也比较贵。方太的厨房电器包括有：吸油烟机、灶具、消毒柜、燃气热水器，以及嵌入式的烤箱、微波炉等等<p>方太于1996年创立于浙江宁波，主要研发和生产厨房电器，是厨电行业的一线品牌，它在高端市场的占有率达到了30%以上，产品普遍美观高档，但是也比较贵。方太的厨房电器包括有：吸油烟机、灶具、消毒柜、燃气热水器，以及嵌入式的烤箱、微波炉等等方太于1996年创立于浙江宁波，主要研发和生产厨房电器，是厨电行业的一线品牌，它在高端市场的占有率达到了30%以上，产品普遍美观高档，但是也比较贵。方太的厨房电器包括有：吸油烟机、灶具、消毒柜、燃气热水器，以及嵌入式的烤箱、微波炉等等</p>
      <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </div>
  </div>
</div>
<!-- 精品展示 -->
<div class="b_width680 f_l margin10">
  <h3 class="bp_left_tit"><span class="bp_left_tit_span f_r"><a href="#" target="_blank">>>更多</a></span>方太精品展示</h3>
  <div class="bp_left_text05 clearfix">
    <ul class="clearfix">
      <li>
        <a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic04.jpg" alt="主要研发和生产厨房电器" /></a>
        <a href="#" target="_blank">主要研发和生产厨房电器</a>
        <p><a href="#" target="_blank">新装的家里，墙面的装潢是最让人头疼的。四面白墙或者单一色彩都让人觉迪斯科机假大空时间技术得乏味</a></p>
      </li>
      <li>
        <a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic04.jpg" alt="主要研发和生产厨房电器" /></a>
        <a href="#" target="_blank">主要研发和生产厨房电器</a><p>
        <a href="#" target="_blank">新装的家里，墙面的装潢是最让人头疼的。四面白墙或者单一色彩都让人觉迪斯科机假大空时间技术得乏味</a></p>
      </li>
      <li><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic04.jpg" alt="主要研发和生产厨房电器" /></a><a href="#" target="_blank">主要研发和生产厨房电器</a><p><a href="#" target="_blank">新装的家里，墙面的装潢是最让人头疼的。四面白墙或者单一色彩都让人觉迪斯科机假大空时间技术得乏味</a></p></li>
    </ul>
  </div>
</div>
<div class="b_width680 f_l margin10">
<h3 class="bp_left_tit"><span class="bp_left_tit_span f_r"><a href="#" target="_blank">>>更多</a></span>方太互动点评</h3>
<div class="bp_left_text06 clearfix">
<ul><li><table border="0" cellspacing="0" cellpadding="0">
<tr>
  <td width="40">[问]</td>
  <td width="468"><a href="#" target="_blank">怎么样单独做一面电视背景墙？</a></td>
  <td width="150" align="right">jary</td>
</tr>
<tr>
  <td valign="top"><span>[答]</span></td>
  <td colspan="2"><p>方太于1996年创立于浙江宁波，主要研发和生产厨房电器，是厨电行业的一线品牌，它在高端市场的占方太于1996年创立于浙江宁波，主要研发和生产厨房电器，是厨电行业的一线品牌，它在高端市场的占方太于1996年创立于浙江宁波，主要研发和生产厨房电器，是厨电行业的一线品牌，它在高端市场的占方太于1996年创立于浙江宁波，主要研发和生产厨房电器，是厨电行业的一线品牌，它在高端市场的占方太于1996年创立于浙江宁波，主要研发和生产厨房电器，是厨电行业的一线品牌，它在高端市场的占方太于1996年创立于浙江宁波，主要研发和生产厨房电器，是厨电行业的一线品牌，它在高端市场的占方太于1996年创立于浙江宁波，主要研发和生产厨房电器，是厨电行业的一线品牌，它在高端市场的占方太于1996年创立于浙江宁波，主要研发和生产厨房电器，是厨电行业的一线品牌，它在高端市场的占方太于1996年创立于浙江宁波，主要研发和生产厨房电器，是厨电行业的一线品牌，它在高端市场的占</p></td>
</tr>
</table>
</li>
<li><table border="0" cellspacing="0" cellpadding="0" class="bp_left_text06_li">
<tr>
  <td width="40">[评]</td>
  <td width="468"><a href="#" target="_blank">怎么样单独做一面电视背景墙？</a></td>
  <td width="150" align="right">jary</td>
</tr>
<tr>
  <td valign="top"></td>
  <td colspan="2"><p>方太于1996年创立于浙江宁波，主要研发和生产厨房电器，是厨电行业的一线品牌，它在高端市场的占方太于1996年创立于浙江宁波，主要研发和生产厨房电器，是厨电行业的一线品牌，它在高端市场的占</p></td>
</tr>
</table>
</li>
<li><table border="0" cellspacing="0" cellpadding="0">
<tr>
  <td width="40">[问]</td>
  <td width="468"><a href="#" target="_blank">怎么样单独做一面电视背景墙？</a></td>
  <td width="150" align="right">jary</td>
</tr>
<tr>
  <td valign="top"><span>[答]</span></td>
  <td colspan="2"><p>方太于1996年创立于浙江宁波，主要研发和生产厨房电器，是厨电行业的一线品牌，它在高端市场的占</p></td>
</tr>
</table>
</li>
<li><table border="0" cellspacing="0" cellpadding="0" class="bp_left_text06_li">
<tr>
  <td width="40">[评]</td>
  <td width="468"><a href="#" target="_blank">怎么样单独做一面电视背景墙？</a></td>
  <td width="150" align="right">jary</td>
</tr>
<tr>
  <td valign="top"></td>
  <td colspan="2"><p>方太于1996年创立于浙江宁波，主要研发和生产厨房电器，是厨电行业的一线品牌，它在高端市场的占方太于1996年创立于浙江宁波，主要研发和生产厨房电器，是厨电行业的一线品牌，它在高端市场的占</p></td>
</tr>
</table>
</li>
<li><table border="0" cellspacing="0" cellpadding="0">
<tr>
  <td width="40">[问]</td>
  <td width="468"><a href="#" target="_blank">怎么样单独做一面电视背景墙？</a></td>
  <td width="150" align="right">jary</td>
</tr>
<tr>
  <td valign="top"><span>[答]</span></td>
  <td colspan="2"><p>方太于1996年创立于浙江宁波，主要研发和生产厨房电器，是厨电行业的一线品牌，它在高端市场的占</p></td>
</tr>
</table>
</li>
<li><table border="0" cellspacing="0" cellpadding="0" class="bp_left_text06_li">
<tr>
  <td width="40">[评]</td>
  <td width="468"><a href="#" target="_blank">怎么样单独做一面电视背景墙？</a></td>
  <td width="150" align="right">jary</td>
</tr>
<tr>
  <td valign="top"></td>
  <td colspan="2"><p>方太于1996年创立于浙江宁波，主要研发和生产厨房电器，是厨电行业的一线品牌，它在高端市场的占方太于1996年创立于浙江宁波，主要研发和生产厨房电器，是厨电行业的一线品牌，它在高端市场的占</p></td>
</tr>
</table>
</li>
</ul>
<div class="bp_left_text06_a"><a href="#" target="_blank" class="bp_left_text06_a01">我要提问</a><a href="#" target="_blank" class="bp_left_text06_a02">我要点评</a></div>
</div>
</div>
<div class="b_width680 f_l margin10">
  <div class="bp_zx_left f_l">
<h3 class=" bp_left_tit02"><span class="bp_left_tit_span f_r"><a href="#" target="_blank">>>更多</a></span>方太最新资料下载</h3>
<div class="bp_left_text02">
<ul class="bp_left_text02_down"><li><span><a href="#" target="_blank">我要下载</a></span><a href="#" target="_blank">《和家家居e生活》 2009年第2期</a></li>
<li><span><a href="#" target="_blank">我要下载</a></span><a href="#" target="_blank">《和家家居e生活》 2009年第2期</a></li>
<li><span><a href="#" target="_blank">我要下载</a></span><a href="#" target="_blank">《和家家居e生活》 2009年第2期</a></li>
<li><span><a href="#" target="_blank">我要下载</a></span><a href="#" target="_blank">《和家家居e生活》 2009年第2期</a></li>
<li><span><a href="#" target="_blank">我要下载</a></span><a href="#" target="_blank">《和家家居e生活》 2009年第2期</a></li>
</ul>
</div>
</div>
<div class="bp_zx_right f_r">
<h3 class=" bp_left_tit03">方太联系方式</h3>
<div class="bp_left_text03">
<div class="bp_left_text02_contact"><span>地址：中国宁波慈溪市杭州湾新区滨海二路18号</span><span>邮政编码：315336</span><span>工程销售：057423456666 (总机)</span><span>免费咨询热线：800-8574315（请用座机拨打）</span></div>
</div>
</div>
</div>
<div class="b_width680 f_l">
<h3 class="bp_left_tit"><span class="bp_left_tit_span02 f_r"><a href="#" target="_blank">方太燃气灶</a><a href="#" target="_blank">|</a><a href="#" target="_blank">方太油烟机</a>|<a href="#" target="_blank">方太厨房电器</a></span>方太品牌专区</h3>
<div class="bp_left_text07 clearfix">
<ul class="clearfix"><li><dl><dt><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic08.jpg" alt="90平米两居室 独居美女家的简约打造" /></a></dt>
<dd><a href="#" target="_blank">90平米两居室 独居美女家的简约打造</a></dd><dd><a href="#" target="_blank">90平米两居室 独居美女家的简约打造</a></dd><dd><a href="#" target="_blank">90平米两居室 独居美女家的简约打造</a></dd><dd><a href="#" target="_blank">90平米两居室 独居美女家的简约打造</a></dd>
</dl></li>
<li><dl><dt><a href="#" target="_blank"><img src="http://js.51hejia.com/img/images/brand/pic08.jpg" alt="90平米两居室 独居美女家的简约打造" /></a></dt>
<dd><a href="#" target="_blank">90平米两居室 独居美女家的简约打造</a></dd><dd><a href="#" target="_blank">90平米两居室 独居美女家的简约打造</a></dd><dd><a href="#" target="_blank">90平米两居室 独居美女家的简约打造</a></dd><dd><a href="#" target="_blank">90平米两居室 独居美女家的简约打造</a></dd>
</dl></li>
</ul>
</div>
</div>
